<div id="sidebar" class="sidebar">
    <button id="closeSidebar" class="close-button">&times;</button>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="검색어를 입력하세요">
        <button id="searchButton">검색</button>
    </div>
    <ul id="searchResults" class="search-results"></ul>
</div>